@model List<Ferovi.Models.VM.MenusPrincipalesViewModel>

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar nav-compact flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                @foreach (var menuPrincipal in Model)
                {
                    if (menuPrincipal.Nivel == 1 && (menuPrincipal.Enlace?.Length ?? 0) == 0)
                    {
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas @menuPrincipal.Icono"></i>
                                <p>
                                    @menuPrincipal.Nombre
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                @foreach (var submenuPrimario in menuPrincipal.Submenu)
                                {
                                    if (submenuPrimario.Nivel == 2 && (submenuPrimario.Enlace?.Length ?? 0) == 0)
                                    {
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                <i class="nav-icon fas @submenuPrimario.Icono"></i>
                                                <p>
                                                    @submenuPrimario.Nombre
                                                    <i class="right fas fa-angle-left"></i>
                                                </p>
                                            </a>
                                            <ul class="nav nav-treeview">
                                                @foreach (var submenuSecundario in submenuPrimario.Submenu)
                                                {
                                                    <li class="nav-item">
                                                        <a href="@submenuSecundario.Enlace" class="nav-link">
                                                            <i class="nav-icon fas @submenuSecundario.Icono"></i>
                                                            <p>@submenuSecundario.Nombre</p>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                    else if (submenuPrimario.Nivel == 2 && (submenuPrimario.Enlace?.Length ?? 0) > 0)
                                    {
                                        <li class="nav-item">
                                            <a href="@submenuPrimario.Enlace" class="nav-link">
                                                <i class="nav-icon fas @submenuPrimario.Icono"></i>
                                                <p>@submenuPrimario.Nombre</p>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                    else if (menuPrincipal.Nivel == 1 && (menuPrincipal.Enlace?.Length ?? 0) > 0)
                    {
                        <li class="nav-item">
                            <a href="@menuPrincipal.Enlace" class="nav-link">
                                <i class="nav-icon fas @menuPrincipal.Icono"></i>
                                <p>@menuPrincipal.Nombre</p>
                            </a>
                        </li>
                    }
                }
            </ul>
        </nav>
    </div>
</aside>